{% extends "base.html" %}
{% load static %}


{% block title %}
  Inventory - Inventory
{% endblock %}





{% block moduleinfo %}
    <div class="flex flex-col flex-wrap m-5">
        <h2 class=" text-gray-800 font-bold text-lg ">Module: Inventory</h2>
        <div class="flex justify-between w-fit space-x-5 items-center">

            <h2 class=" text-gray-800 font-semibold text-sm ">Product: 

            </h2>
            <p>Endotracheal Tube, Cuffed 9.0 mm</p>
            <h3 class=" text-pink-500 font-medium">Brand
            </h3>
            <p class="text-black ">Endure Industries</p>

            <h3 class=" text-pink-500 font-medium">Mfg#
            </h3>
            <h3 class=" text-black font-medium">ETNC905

            </h3>

        </div>
        
    </div>
    {% endblock %}



{% block content %} 

<main>
    
        <!-- main content nav -->
   



        <div class="flex justify-between items-center  m-5 w-1/2">
            <div class="flex flex-col space-y-5">
                <h3 class="text-sm font-semibold">Sort by</h3> 
                <h3 class="text-sm font-semibold">Total</h3> 
                <h3 class="text-sm font-semibold">Allocated</h3> 
            
            
            
            
            
            
            
           
                
            </div>  
           

            <div class="flex flex-col space-y-5">
                <div class="flex text-sm shadow-md">
                    <div class="bg-zinc-700 p-1 text-white text-xs">ML
    
                    </div>
                    <div class=" px-2 flex items-center ">
                        master list
                        <button><img src="{% static 'img/Expand Button.svg' %}" alt="" srcset=""></button>
                    </div>
                </div>

            
            
                <div>25.6 Cases</div>
                <div>25.6 Cases</div>
            </div>
            <div class="flex flex-col ">
               <img src="/static/img/Group.svg" alt="" srcset="">
            </div>


        </div>

        <table class="table text-sm  w-[990px] ml-10 border-separate  ">
            <thead class="  ">
                <tr class=" font-bold ">
                    <th class="py-3  flex items-center space-x-2 shadow-md justify-center"><h4>Locations</h4> <button><img src="{% static '/img/Expand Button.svg' %}" alt="" srcset=""></button></th>
                    {% for header in fruits %}
                    <th class="py-3 ">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="">
                <tr class=" text-center text-xs text-zinc-600 font-bold">
                    <td></td>
                   <td>
                    <div class="flex flex-col justify-center ">
                        Dynarex
                        <div>
                            52303
                        </div>
                    </div>
                   </td>
                   <td>
                    08/12/22
                   </td>
                   <td>
                    2345
                   </td>
                   <td>
                    LKSD323
                   </td>
                   <td>
                    Max: 300 ea
                   </td>
                   <td>
                    24.5 Bx
                   </td>
                   <td>
                    24.5 Bx
                   </td>
                   <td>
                    24.5 Bx
                     </td>
                   <td>
                    24.5 Bx
                   </td>
                  
                    
                </tr>
           
                
                <!-- Add more rows using similar <tr> structures -->
            </tbody>

        </table>


</main>



{% endblock %}