{% extends "base.html" %}
{% load static %}


{% block title %}
  Inventory - Purchasing
{% endblock %}

{% block moduleinfo %}
    <div class="flex flex-col flex-wrap m-5">
        <h2 class=" text-gray-800 font-bold text-lg ">Module: Inventory</h2>
        <div class="flex justify-between w-fit space-x-5 items-center">

            <h2 class=" text-gray-800 font-semibold text-sm ">Product: 

            </h2>
            <p>Endotracheal Tube, Cuffed 9.0 mm</p>
            <h3 class=" text-pink-500 font-medium">Brand
            </h3>
            <p class="text-black ">Endure Industries</p>

        </div>
        
    </div>
    {% endblock %}
    

{% block content %} 
    




    <div class="justify-between items-baseline flex py-10  mx-5">

        <div class="relative inline-block text-left">
            <button id="dropdownBtn" type="button" class="inline-flex justify-center px-4 py-2 bg-white border border-gray-300 rounded-tl-sm rounded-bl-sm shadow">
                Jafferson Campus
                <svg class="w-5 h-5 ml-2 -mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
    
            <div id="dropdownMenu" class="hidden origin-top-left absolute left-0 mt-2 -ml-px w-[133px] bg-white border border-gray-300 rounded-sm shadow">
                <div class="py-1">
                    <!-- Add your dropdown items here -->
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Item 1</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Item 2</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Item 3</a>
                </div>
            </div>
        </div>
    
        
        <div class="flex w-1/2 ">

        <div class="relative max-w-md mx-auto bg-white rounded-lg" x-data="{ search: '' }">
            <div class="w-full relative">
                <input type="search" class="w-[190px] h-[25px] px-8 py-1 text-gray-800 rounded-full focus:outline-none"
                    placeholder="" x-model="search">
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                    <button type="submit" class="flex items-center justify-center w-10 h-10 text-white rounded-full"
                        :class="(search.length > 0) ? 'bg-purple-500' : 'bg-gray-500 cursor-not-allowed'"
                        :disabled="search.length == 0">
                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.04264 6.19263L7.83713 7.05386L8.63162 7.24261L10.6178 9.59013L10.2206 10.3451L9.26841 10.6401L7.08357 8.18636V7.62011L6.44678 6.86511L7.04264 6.19263Z" fill="#655F5F"/>
                            <path d="M7.42786 4.30516C7.42786 5.81675 6.12912 7.09438 4.46094 7.09438C2.79276 7.09438 1.49402 5.81675 1.49402 4.30516C1.49402 2.79356 2.79276 1.51593 4.46094 1.51593C6.12912 1.51593 7.42786 2.79356 7.42786 4.30516Z" fill="white" stroke="#645F5F" stroke-width="1.21656"/>
                            </svg>
                            
                    </button>
                </div>
            </div>
        </div>




        <div class="w-[166px] flex h-[31px] text-zinc-700 text-xs font-normal font-['PT Sans']">
            <span>
            <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="7.09069" cy="8.0255" r="6.61797" fill="white" stroke="#484747" stroke-width="0.945425"/>
            <path d="M7.78529 11.88H6.31268V6.38565H7.78529V11.88ZM6.22635 4.96382C6.22635 4.74377 6.29913 4.56266 6.4447 4.42047C6.59366 4.27829 6.79508 4.2072 7.04898 4.2072C7.29949 4.2072 7.49923 4.27829 7.64818 4.42047C7.79713 4.56266 7.87161 4.74377 7.87161 4.96382C7.87161 5.18725 7.79544 5.37005 7.6431 5.51224C7.49415 5.65442 7.29611 5.72551 7.04898 5.72551C6.80185 5.72551 6.60212 5.65442 6.44978 5.51224C6.30083 5.37005 6.22635 5.18725 6.22635 4.96382Z" fill="#676666"/>
            </svg>
            </span>
            You can use keywords or associated tags to filter your Vendor List
        </div>


    </div>
        

    </div>


    <div class="mx-5 font-semibold pb-5 text-gray-600 text-sm">Orders:</div>


    <table class="w-11/12 my-5 mb-10 mx-auto text-center ">
        <thead>
          <tr>
            {% for x in headers %}
            <th class="text-sm font-bold text-zinc-600 tracking-wide">{{ x }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="text-xs font-semibold text-zinc-600">
         
          <tr>
            <td>3599 </td>
            <td>Endure Industries</td>
            <td>07/06</td>
            <td>Draft</td>
            <td>3 Bx</td>

           

           

           <td class="py-2">
            <div class="flex justify-center  space-x-2 items-center">
            <div class="relative inline-flex ">
                    <img
                      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
                      alt="profile picture"
                      class="inline-block relative object-cover object-center !rounded-full w-8 h-8 " />
                      <span
                      class="absolute min-w-[12px] min-h-[12px] rounded-full py-1 px-1 text-xs font-medium content-[''] leading-none grid place-items-center top-[0%] right-[14%] translate-x-1/2  bg-pink-500 text-white">
                    </span>

                    
                  </div>
                  <div class="flex-col flex items-baseline">ENT Department
                    <div>GA-L3</div>
                  </div>

             </div>
           </td>
           <td class="py-2">
            <div class="flex justify-center  space-x-2 items-center">
            <div class="relative inline-flex ">
                    <img
                      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
                      alt="profile picture"
                      class="inline-block relative object-cover object-center !rounded-full w-8 h-8 " />
                      <span
                      class="absolute min-w-[12px] min-h-[12px] rounded-full py-1 px-1 text-xs font-medium content-[''] leading-none grid place-items-center top-[0%] right-[14%] translate-x-1/2  bg-pink-500 text-white">
                    </span>

                    
                  </div>
                  <div class="flex-col flex items-baseline">Purchased
                    <div>GA-L3</div>
                  </div>

             </div>
           </td>

            




           <td>
            No
           </td>


         
          </tr>
        
        </tbody>
      </table>

   





        <div class="flex space-x-5 items-center mx-5">

            <div class="text-gray-600 text-lg font-medium">Re-order Points</div>


            <div>Dropdown</div>


        </div>


        <div class="flex justify-between flex-wrap w-3/4 gap-y-5 m-5">
            <div class="w-1/2 flex text-gray-600 text-sm font-medium gap-x-2">Max Quantity: 
                <div class="text-gray-600 text-sm font-medium">
                    22 Cases
                </div>
            </div>
            <div class="w-1/2 flex text-gray-600 text-sm font-medium gap-x-2">Max Quantity: 
                <div class="text-gray-600 text-sm font-medium">
                    22 Cases
                </div>
            </div>
            <div class="w-1/2 flex text-gray-600 text-sm font-medium gap-x-2">Safety Stock: 
                <div class="text-gray-600 text-sm font-medium">
                    15%
                </div>
            </div>
            <div class="w-1/2 flex text-gray-600 text-sm font-medium gap-x-2">Safety Stock: 
                <div class="text-gray-600 text-sm font-medium">
                    15%
                </div>
            </div>
            
           
            <div class=" flex basis-full  text-zinc-700 text-xs font-normal gap-x-3 ">
                <span>
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.09069" cy="8.0255" r="6.61797" fill="white" stroke="#484747" stroke-width="0.945425"/>
                <path d="M7.78529 11.88H6.31268V6.38565H7.78529V11.88ZM6.22635 4.96382C6.22635 4.74377 6.29913 4.56266 6.4447 4.42047C6.59366 4.27829 6.79508 4.2072 7.04898 4.2072C7.29949 4.2072 7.49923 4.27829 7.64818 4.42047C7.79713 4.56266 7.87161 4.74377 7.87161 4.96382C7.87161 5.18725 7.79544 5.37005 7.6431 5.51224C7.49415 5.65442 7.29611 5.72551 7.04898 5.72551C6.80185 5.72551 6.60212 5.65442 6.44978 5.51224C6.30083 5.37005 6.22635 5.18725 6.22635 4.96382Z" fill="#676666"/>
                </svg>
                </span>
               <span class="w-1/4"> We recommend an initial safety stock of between 15% - 20%</span>
            </div>
        
            
          </div>

          <div class="text-gray-600 text-lg font-medium flex m-5 gap-x-5 items-center">
            
            Adaptive Safety:

            <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.1.0/dist/flowbite.min.css" />
    
       <label for="toggle-example" class="flex items-center cursor-pointer relative ">
       <input type="checkbox" id="toggle-example" class="sr-only">
       <div class="toggle-bg bg-gray-200 border-2 border-gray-200 h-6 w-11 rounded-full"></div>
       </label>

       
   
       </div>

       <div>
        
       </div>
   
       
       
       
       
       




<div class=" flex m-5 gap-x-5">
    <div><svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="7.09069" cy="8.0255" r="6.61797" fill="white" stroke="#484747" stroke-width="0.945425"/>
        <path d="M7.78529 11.88H6.31268V6.38565H7.78529V11.88ZM6.22635 4.96382C6.22635 4.74377 6.29913 4.56266 6.4447 4.42047C6.59366 4.27829 6.79508 4.2072 7.04898 4.2072C7.29949 4.2072 7.49923 4.27829 7.64818 4.42047C7.79713 4.56266 7.87161 4.74377 7.87161 4.96382C7.87161 5.18725 7.79544 5.37005 7.6431 5.51224C7.49415 5.65442 7.29611 5.72551 7.04898 5.72551C6.80185 5.72551 6.60212 5.65442 6.44978 5.51224C6.30083 5.37005 6.22635 5.18725 6.22635 4.96382Z" fill="#676666"/>
        </svg>
        </div>
<div class="w-[187px] text-xs text-gray-600 ">As you continue to purchase and use products, our intelli-Stock program will begin to analyze your optimal reorder points based on backorders, shipping times, and usage rates.</div>

























       <script src="https://unpkg.com/@themesberg/flowbite@1.1.0/dist/flowbite.bundle.js"></script>
          
    <script>
        const dropdownBtn = document.getElementById('dropdownBtn');
        const dropdownMenu = document.getElementById('dropdownMenu');

        dropdownBtn.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
        });

        // Close the dropdown when clicking outside of it
        window.addEventListener('click', (event) => {
            if (!dropdownBtn.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.add('hidden');
            }
        });
    </script>
        

{% endblock %}


